.content{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    &-left{
        position: relative;
        width: 250px;
        min-width: 250px;
        border-right: 1px solid #e0e1e5;
        background-color: #f5f5f5;
    }
    &-center{
        position: relative;
        width: 300px;
        min-width: 300px;
        border-right: 1px solid #e0e1e5;
    }
    &-right{
        position: relative;
        flex-grow: 1;
    }
}
.drag-line{
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    width: 7px;
    &:hover{
        cursor: col-resize;
    }
}