.my-dir {
    height: 40px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    &:hover{
            background: rgba(118, 176, 243, 0.3);
    }
    &-icon {
        display: inline-block;
        background: url(/note/images/sprite.svg) no-repeat;
        background-position: 88.6685552407932% 36.03603603603604%;
        width: 24px;
        height: 24px;
    }
    &-name{
        margin-left: 10px;
    color: #393939;
    font-size: 12px;
    }
}

.pop-menu {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    background-color: #fff;
    position: fixed;
    z-index: 9;
    width: 100px;
    font-size: 12px;
        border-radius: 2px;
    box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41);
}

.menu-option {
    line-height: 30px;
    height: 30px;
    color: #999999;
    padding-left: 15px;

    &:hover {
        background: rgba(118, 176, 243, 0.1);
        color: rgba(118, 176, 243, 1);
        cursor: pointer;
    }
}

.ul{
    // border: 1px solid #000;

}
.li{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    position: relative;
}
.li>.ul{
    width: 100%;
    // border: 1px solid #f00;
}
.li-content{
    // display: flex;
    // align-items: center;
    height: 30px;
    // border: 1px solid #00f;
    position: relative;
}
.arrow{
    background: url(/note/images/sprite.svg) no-repeat;
    position: absolute;
    top: 7px;
    width: 14px;
    height: 14px;
    &:hover{
        cursor: pointer;
    }
}
.arrow-open{
    composes:arrow;
    background-position: 68.31955922865014% 98.83381924198251%;
}
.arrow-closed{
    composes:arrow;
    background-position: 56.74931129476584% 98.83381924198251%;
}
.arrow-hidden{
    composes:arrow;
    visibility: "hidden";
}
.dir{
    width: 100%;
    border: 1px solid #f00;
    margin-left: 14px;
    height: 100%;
    position: relative;
}
.dir-icon{
    background: url(/note/images/sprite.svg) no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
}
.dir-open{
    composes:dir-icon;
    background-position: 56.657223796033996% 47.747747747747745%;
}
.dir-closed{
    composes:dir-icon;
    background-position: 88.6685552407932% 64.86486486486487%;
}
.dirName{
    position: absolute;
    left: 32px;
    top: 5px;
     overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}