.content{
    position: absolute;
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar{
  height: 46px;
  border: 1px solid #000;
}
.editor{
  border: 1px solid #f00;
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  right: 0;
}