.content{
    position: absolute;
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
}

.editor{
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size:14px;
}

.toolbar{
  height: 46px;
  display: flex;
  align-items: center;
     border-bottom: 1px solid rgba(0,0,0,.05); 
}

.icon {
  background-image: url(/note/images/draft-icon.svg);
  background-repeat: no-repeat;
  transition: background-color .3s ease;
  cursor: pointer;
  width: 22px;
  height: 22px;
  &:hover {
    background-color: #f1f3f6;
  }
  margin-left: 4px;
  margin-right: 4px;
}

.bold{
  composes:icon;
  background-position: 81.19658119658119% 59.45945945945946%;
}
.italic{
  composes:icon;
      background-position: 81.19658119658119% 0;
}
.underline{
  composes:icon;
    background-position: 100% 29.7297%;
}
.color,.bg-color{
  composes:icon;
  margin-right: 0px;
    .color-line {
    display: inline-block;
    margin-top: 17px;
    margin-left: 4px;
    width: 13px;
    height: 2px;
    }
}
.toolbar{
  .color{
    background-position: 65.812% 90.0901%;
  }
  .bg-color{
   background-position: 56.41025641025641% 90.09009009009009%;
  }
}
.color-expand {
  width: 14px;
  display: flex;
  align-items: center;
  transition: background-color .3s ease;
  cursor: pointer;
  height: 22px;
  &:hover {
    background-color: #f1f3f6;
  }
}

.color-arrow {
  composes: icon;
  background-position: 70.44534412955466% 55.27426160337553%;
  width: 9px;
  height: 7px;
}

.undo{
  composes:icon;
  background-position: 18.803418803418804% 100%;

}
.no-undo{
  composes:undo;
      background-position: 9.401709401709402% 80.18018018018019%;
}
.redo{
  composes:icon;
  background-position: 37.60683760683761% 80.18018018018019%;
}
.no-redo{
  composes:redo;
  background-position: 28.205128205128204% 80.18018018018019%;
}
.clear-style{
  composes:icon;
  background-position: 100% 19.81981981981982%;
}
.font-size,.font-family {
  transition: background-color .3s ease;
  cursor: pointer;
  // width: 22px;
  height: 22px;

  &:hover {
    background-color: #f1f3f6;
  }

  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;

  .number,.font-name {
    font-style: normal;
    height: 22px;
    line-height: 26px;
    text-align: center;
  }
  .number{
    width: 20px;
  }
  .font-name{
    width: 60px;
     overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }

  .expand-arrow {
    background-image: url(/note/images/draft-icon.svg);
    background-repeat: no-repeat;
    background-position: 70.44534412955466% 55.27426160337553%;
    width: 9px;
    height: 7px;
  }
}

.font-size-menu,
.font-family-menu {
  position: fixed;
  z-index: 11;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41);
  .li {
    height: 30px;
    line-height: 34px;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: #eaf0fb;
    }
  }
}

.font-size-menu{
  width: 80px;
}
.font-family-menu{
  width: 140px;
}
.separator {
  width: 1px;
  height: 14px;
  background-color: rgba(0, 0, 0, .05);
  margin-left: 9px;
  margin-right: 9px;
}
.format-painter{
  composes:icon;
      background-position: 100% 69.36936936936937%;
}