/*
**carousel
*/
#carousel {
    overflow: hidden;
    .inner {
        width: 800%;
        display: flex;
        transition:transform .2s linear;
        transform: translateX(-10%);
        @supports (transform-style: preserve-3d) {
            transform: translate3d(-12.5%, 0, 0);
        }
    }
    .link {
        flex-basis: 12.5%;
    }
    .pic {
        display: block;
        width: 100%;
        height: 100%;
    }
}