/*
**  footer
*/
#footer {
    border-top: 1px solid #dbdbdb;
    .tool {
        padding-top: 7px;
        height: 3.57em;
        background-color: #fff;
        border-bottom: 1px solid #c2c2c2;
        overflow: hidden;
        display: flex;
        justify-content: space-around;

        .item {
            flex-basis: 33.33333%;
            color: #333;
            font-size: 12px;
            text-align: center;

            &::before {
                margin: 0 auto;
                content: "";
                display: block;
                width: 16px;
                height: 17px;
                background: url(/ctrip/images/icon1.png) no-repeat 0 0;
                background-size: 104px 326px;
            }

            &:nth-of-type(1)::before {
                background-position: -60px -153px;
            }

            &:nth-of-type(2)::before {
                background-position: -60px -173px;
            }

            &:nth-of-type(3)::before {
                width: 18px;
                background-position: -60px -308px;
            }
        }
    }

    .info {
        padding: 5px 0 10px;
        color: #999;
        font-size: 12px;
        &-row{
            text-align: center;
        }
        &-a{
        color: #999;
        margin-right: 6px;
        }
        &-icon {

            display: inline-block;
            width: 11px;
            height: 11px;
            margin-left: 6px;
            margin-right: 3px;
                        background: url(/ctrip/images/country.png) 0 -280px no-repeat;
            background-size: 30px auto;
            margin-right: 7px;
            vertical-align: middle;
        }
        &-icon-2 {
            display: inline-block;
            border: 1px solid #666;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-width: 0 1px 1px 0;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            vertical-align: 2px;
            margin: 0 12px 0 3px;
        }
        &-a-2{
        color: #999;
        margin-left: 6px;
        }

    }
}
