/*
nav1
*/

#nav1 {
    background: #fff;
    border-radius: 8px;
    margin: 4px 5px;
    display: flex;
    padding: 7px 0;
    justify-content: space-around;

    .item {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @mixin icon2($top) {
            background-position: 0 $top;
        }

        text-decoration: none;

        .icon {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-image: url(/ctrip/images/icon2.png);
            background-repeat: no-repeat;
            background-size: 32px auto;

            &-1 {
                @include icon2(0);
            }

            &-2 {
                @include icon2(-32px);
            }

            &-3 {
                @include icon2(-64px);
            }

            &-4 {
                @include icon2(-96px);
            }

            &-5 {
                @include icon2(-128px);
            }
        }

        .text {
            font-size: 12px;
            color: #222;
        }
    }
}

/*
**nav2
*/

#nav2 {
    margin: 0 5px;
    overflow: hidden;

    .section {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
        margin-bottom: 3px;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "c1 c2 c3"
            "c1 c4 c5";


        $i: 1;

        @while $i<6 {
            .c#{$i} {
                grid-area:c#{$i};
            }

            $i:$i+1;
        }

        .c1,
        .c2,
        .c4 {
            border-right: 1px solid;
        }

        .c2,
        .c3 {
            border-bottom: 1px solid;
        }

        .c1 {
            background-size: 121px auto;
            background-repeat: no-repeat;
            background-position: center bottom;
        }


        .cell {
            text-align: center;
            padding: 11px 0;
            border-color: #f2f2f2;
        }
    }

    .hotel {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-image: linear-gradient(to right, #fa5956, #fa9b4d);

        .c1 {
            background-image: url(/ctrip/images/hotel.png);
        }
    }

    .ticket {
        background: linear-gradient(to right, #4b8fed, #53bced);

        .c1 {
            background-image: url(/ctrip/images/ticket.png);
        }
    }

    .tour {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: linear-gradient(to right, #34c2aa, #6cd557);

        .c1 {
            background-image: url(/ctrip/images/tour.png);
        }
    }
}

/*
**  #nav3
*/
#nav3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border-radius: 8px;
    margin: 0 5px 8px;
    .cell {
        text-decoration: none;
        padding: 6px 2px;
        font-size: 12px;
        color: #222;
    }

    .icon {
        display: block;
        width: 28px;
        height: 28px;
        background-image: url(/ctrip/images/icon3.png);
        background-size: 24px auto;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .text {
        display: block;
        text-align: center;
    }

    .i1 {
        background-position: 3px 5px;
    }

    .i2 {
        background-position: 5px -22px;
    }

    .i3 {
        background-position: 4px -51px;
    }

    .i4 {
        background-position: 3px -273px;
    }

    .i5 {
        background-position: 3px -81px;
    }

    .i6 {
        background-position: 6px -137px;
    }

    .i7 {
        background-position: 4px -167px;
    }

    .i8 {
        background-position: 3px -109px;
    }

    .i9 {
        background-position: 3px -194px;
    }

    .i10 {
        background-position: 5px -244px;
    }

}