@charset "utf-8";
*{
    box-sizing: border-box;
}
@import 'normalize';
body, html {
    height: 100%;
}
body {
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    background: #f2f2f2;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    padding-top: 46px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
ul{
    list-style-type: none;
}

@import 'header';
@import 'carousel';
@import 'nav';
@import 'sales';
@import 'activity';
@import 'footer';


#search-page{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
}

@import 'search';

@import 'country';