.header__n_2C16IAiOKcsAkGXz_IX {
  height: 50px;
  background: #398dee; }

.content__1VgBmk6dG-bExp88umppii {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex; }
  .content-left__1GRFaYfwvfVUNNiHMhJzy2 {
    position: relative;
    width: 250px;
    min-width: 250px;
    border-right: 1px solid #e0e1e5;
    background-color: #f5f5f5; }
  .content-center__1y-UK8--J5yKgmvxcd1rhj {
    position: relative;
    width: 300px;
    min-width: 300px;
    border-right: 1px solid #e0e1e5; }
  .content-right__CMvS-KN9E7bKjAtP7QrER {
    position: relative;
    flex-grow: 1; }

.drag-line__37MEdKjXTq5WUNyPnCCWxO {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  width: 7px; }
  .drag-line__37MEdKjXTq5WUNyPnCCWxO:hover {
    cursor: col-resize; }

.container__1YB2_J9TW9NXPdeJMcEmYK {
  position: relative;
  width: 100px;
  margin: 0 auto; }

.pop-btn__2YVbYJ-cTWevRbcKJyA6wf {
  height: 40px; }
  .pop-btn__2YVbYJ-cTWevRbcKJyA6wf:hover {
    cursor: pointer; }
    .pop-btn__2YVbYJ-cTWevRbcKJyA6wf:hover .text__32m5BF_L3AoyqmRVUJlUc- {
      color: #76b0f3; }

.text__32m5BF_L3AoyqmRVUJlUc- {
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
  color: #393939;
  position: relative;
  top: -4px; }

.icon__eEJ-kpbryf-q1RBCqBltM {
  display: inline-block;
  background: url(/note/images/sprite.svg) no-repeat;
  background-position: 74.78510028653295% 0;
  width: 28px;
  height: 28px;
  position: relative;
  top: 5px; }

.arrow__Z0nBev1fke2XQrq-lcmf {
  display: inline-block;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
  left: 6px; }
  .arrow__Z0nBev1fke2XQrq-lcmf::before {
    display: inline-block;
    border: 3px solid transparent;
    border-top: 4px solid #959fb1;
    width: 0;
    height: 0;
    content: ' '; }

.pop-menu__3Vrx5ssuq2GqY1zAM6n6-E {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  width: 100%;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41); }

.menu-option__3H0HMsSxDtYpt0-fvR7J8B {
  line-height: 30px;
  height: 30px;
  color: #999999;
  padding-left: 15px; }
  .menu-option__3H0HMsSxDtYpt0-fvR7J8B:hover {
    background: rgba(118, 176, 243, 0.1);
    color: #76b0f3;
    cursor: pointer; }

.my-dir__2fg9o1LizZNt69J2Cv2gd0 {
  height: 40px;
  padding-left: 15px;
  display: flex;
  align-items: center; }
  .my-dir__2fg9o1LizZNt69J2Cv2gd0:hover {
    background: rgba(118, 176, 243, 0.3); }
  .my-dir-icon__1apa2FprME5DTPt2kr9xzu {
    display: inline-block;
    background: url(/note/images/sprite.svg) no-repeat;
    background-position: 88.6685552407932% 36.03603603603604%;
    width: 24px;
    height: 24px; }
  .my-dir-name__3t_Yy1GA5HXQ0r0O4LutuY {
    margin-left: 10px;
    color: #393939;
    font-size: 12px; }

.pop-menu__3_q2o7fA2RIgJs4dqNY7yz {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  background-color: #fff;
  position: fixed;
  z-index: 9;
  width: 100px;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41); }

.menu-option__1ZWBo8FIl6DKRwT5iKUoOw {
  line-height: 30px;
  height: 30px;
  color: #999999;
  padding-left: 15px; }
  .menu-option__1ZWBo8FIl6DKRwT5iKUoOw:hover {
    background: rgba(118, 176, 243, 0.1);
    color: #76b0f3;
    cursor: pointer; }

.ul__RtrrH9Kt6iZbyLYftY2sm {
  color: #393939;
  font-size: 14px; }

.li__3lPmwPnahBhz7xeKgSjp0m {
  display: flex;
  flex-direction: column;
  position: relative; }

.li__3lPmwPnahBhz7xeKgSjp0m > .ul__RtrrH9Kt6iZbyLYftY2sm {
  width: 100%; }

.li-content__n-VnYYvRd9pubI1Q1VbqN {
  height: 30px;
  position: relative; }
  .li-content__n-VnYYvRd9pubI1Q1VbqN:hover {
    background-color: rgba(118, 176, 243, 0.3); }

.li-content-selected__3uo_8nWoo3Wh4U4H7wGqDG {
  height: 30px;
  position: relative;
  background: #398dee;
  border: 1px solid #2280ed;
  border-color: #2280ed transparent;
  color: #fff; }

.arrow__3xezzTeOoF8at18l6puiP6 {
  background: url(/note/images/sprite.svg) no-repeat;
  position: absolute;
  top: 7px;
  width: 14px;
  height: 14px; }
  .arrow__3xezzTeOoF8at18l6puiP6:hover {
    cursor: pointer; }

.arrow-open__x0otYSECyU-0_ueYSCpao {
  background-position: 68.31955922865014% 98.83381924198251%; }

.arrow-closed__EuyObZDU0G4R5p20DwViJ {
  background-position: 56.74931129476584% 98.83381924198251%; }

.arrow-hidden__18q4TFgQgTy4K_GkKrOF3i {
  visibility: hidden; }

.dir__3LDijpTdgHXx1toqIfuZOA {
  width: 100%;
  margin-left: 14px;
  height: 100%;
  position: relative; }

.dir-icon__3iBMFRcRBVzLL9LT2J0alZ {
  background: url(/note/images/sprite.svg) no-repeat;
  position: absolute;
  width: 24px;
  height: 24px; }

.dir-open__3aegqkwhgrINrAnUEv7CbC {
  background-position: 56.657223796033996% 47.747747747747745%; }

.dir-closed__1ZCqU_9LI9bYZP0ICANgk7 {
  background-position: 88.6685552407932% 64.86486486486487%; }

.dirName__37mvSkgKF6T81hJ46ZwPX_ {
  position: absolute;
  left: 32px;
  top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.toolbar__A4Je2tkl7zhuIeuFJfZpK {
  height: 61px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.workspace__Vhl1_OvXjFTY2VpGwJddN {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }


.toolbar__2QQIXZE_4QCebafYuIjo79 {
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center; }

.return-btn__17fO9Ot1rbv_ST1j7RnzBu {
  flex-shrink: 0;
  width: 34px;
  height: 24px;
  background: url(/note/images/sprite.svg) no-repeat;
  background-position: 66.1807580174927% 20.42042042042042%;
  margin: 0 6px; }
  .return-btn__17fO9Ot1rbv_ST1j7RnzBu:hover {
    background-position: -132px -159px; }

.search-container__mRwlKN5p91b1XRO4mRFgP {
  flex-grow: 1;
  height: 38px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(148, 157, 166, 0.36);
  border-radius: 40px;
  padding-left: 12px;
  padding-right: 12px; }
  .search-container__mRwlKN5p91b1XRO4mRFgP .search-btn__1rOrtZ0L9R_EhOnQi_B2LD {
    background: url(/note/images/sprite.svg) no-repeat;
    background-position: 88.6685552407932% 50.450450450450454%;
    width: 24px;
    height: 24px; }
  .search-container__mRwlKN5p91b1XRO4mRFgP .input-box__29KXI-uF31QeTSU3FSLadG {
    color: #595959;
    height: 28px;
    background-color: transparent;
    font-size: 14px;
    font-family: '\5FAE\8F6F\96C5\9ED1', 'Microsoft Yahei', Helvetica Neue, Hiragino Sans GB;
    box-shadow: none;
    border: none;
    border-radius: 0;
    outline: none;
    width: 100%; }

.sort-btn__2o51-I1PVoKRdj0L9Q-dKg {
  flex-shrink: 0;
  width: 34px;
  height: 24px;
  background: url(/note/images/sprite.svg) no-repeat;
  background-position: 9.912536443148689% 56.15615615615616%;
  margin: 0 10px; }

.workspace__1P67H632nLJLN7Qnvmv5a9 {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0; }

.header__2Lp99dvNWAOt1-baBYa1Yw {
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center; }

.content__29sdjLnXUu0B2rvsvlMHM9 {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0; }

.title__2OWA4vM9Wan2t1HRRvx5Tc {
  margin-left: 20px;
  flex-grow: 1;
  padding: 19px 0;
  height: 22px;
  line-height: 22px;
  outline: none;
  border: 0 none;
  font-size: 18px;
  color: #393939;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.submit-btn__3h0oU6QAneSEpqrZXe6_ug {
  flex-basis: 82px;
  height: 32px;
  line-height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 11px;
  color: #82B6F4;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  background-color: #fff; }

.toolbar__2Vglke_6HAes5QHkg6_8F6 {
  height: 46px;
  border: 1px solid #000; }

.editor__1cJVz4KB-5ids5MZXPvojU {
  border: 1px solid #f00;
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  right: 0; }

.container__27a-UrgGiyP1PpzXPPPqJi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0; }


/*# sourceMappingURL=main.css.map*/