.n_2C16IAiOKcsAkGXz_IX {
  height: 50px;
  background: #398dee; }

._1VgBmk6dG-bExp88umppii {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex; }
  ._1GRFaYfwvfVUNNiHMhJzy2 {
    position: relative;
    width: 200px;
    border-right: 1px solid #000;
    background-color: #f5f5f5; }
  ._1y-UK8--J5yKgmvxcd1rhj {
    position: relative;
    width: 200px;
    border-right: 1px solid #000; }
  .CMvS-KN9E7bKjAtP7QrER {
    position: relative;
    flex-grow: 1; }

._37MEdKjXTq5WUNyPnCCWxO {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  width: 7px; }
  ._37MEdKjXTq5WUNyPnCCWxO:hover {
    cursor: col-resize; }

._1YB2_J9TW9NXPdeJMcEmYK {
  position: relative;
  width: 100px;
  margin: 0 auto; }

._2YVbYJ-cTWevRbcKJyA6wf {
  height: 40px; }
  ._2YVbYJ-cTWevRbcKJyA6wf:hover {
    cursor: pointer; }
    ._2YVbYJ-cTWevRbcKJyA6wf:hover ._32m5BF_L3AoyqmRVUJlUc- {
      color: #76b0f3; }

._32m5BF_L3AoyqmRVUJlUc- {
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
  color: #393939;
  position: relative;
  top: -4px; }

.eEJ-kpbryf-q1RBCqBltM {
  display: inline-block;
  background: url(/note/images/sprite.svg) no-repeat;
  background-position: 74.78510028653295% 0;
  width: 28px;
  height: 28px;
  position: relative;
  top: 5px; }

.Z0nBev1fke2XQrq-lcmf {
  display: inline-block;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
  left: 6px; }
  .Z0nBev1fke2XQrq-lcmf::before {
    display: inline-block;
    border: 3px solid transparent;
    border-top: 4px solid #959fb1;
    width: 0;
    height: 0;
    content: ' '; }

._3Vrx5ssuq2GqY1zAM6n6-E {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 100%;
  width: 100%;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41); }

._3H0HMsSxDtYpt0-fvR7J8B {
  line-height: 30px;
  height: 30px;
  color: #999999;
  padding-left: 15px; }
  ._3H0HMsSxDtYpt0-fvR7J8B:hover {
    background: rgba(118, 176, 243, 0.1);
    color: #76b0f3;
    cursor: pointer; }

._2fg9o1LizZNt69J2Cv2gd0 {
  height: 40px;
  padding-left: 15px;
  display: flex;
  align-items: center; }
  ._2fg9o1LizZNt69J2Cv2gd0:hover {
    background: rgba(118, 176, 243, 0.3); }
  ._1apa2FprME5DTPt2kr9xzu {
    display: inline-block;
    background: url(/note/images/sprite.svg) no-repeat;
    background-position: 88.6685552407932% 36.03603603603604%;
    width: 24px;
    height: 24px; }
  ._3t_Yy1GA5HXQ0r0O4LutuY {
    margin-left: 10px;
    color: #393939;
    font-size: 12px; }

.A4Je2tkl7zhuIeuFJfZpK {
  height: 61px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.Vhl1_OvXjFTY2VpGwJddN {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0; }

._2Th6o30rrcdYigzLtrXCqi {
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

._3sK-G-VkhpAmRLJQBJBVfB {
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0; }

._27a-UrgGiyP1PpzXPPPqJi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0; }


/*# sourceMappingURL=main.css.map*/