a {
	text-decoration: none;
}
.html {
	height: 100%;
}
body {
	position: relative;
	margin: 0;
	height: 100%;
	background-image: url(/homepage/images/bgm2.jpg);
	background-size: contain;
}
.body-bottom-layer {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.1;
}
.header {
	display: flex;
	padding: 50px 0;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	.portrait {
		display: flex;
		align-items: center;
		&-img {
			width: 110px;
			height: auto;
			border-radius: 50%;
		}
	}

	.info-item {
		color: #fff;
		display: block;
		font-size: 14px;
		line-height: 28px;
		.colon {
			display: inline-block;
			text-align: center;
			width: 30px;
		}
	}
	.other-info {
		margin-top: 6px;
	}
	.info-btn {
		display: inline-block;
		color: #fff;
		padding: 2px 10px;
		position: relative;
		z-index: 9;
		.svg-icon {
			width: 16px;
			height: 16px;
			position: relative;
			top: 3px;
		}
		&-text {
			margin-left: 3px;
			font-size: 14px;
			user-select: none;
		}
		.bgc {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
			opacity: 0.2;
			border-radius: 20px;
			z-index: -1;
		}
		&.second {
			margin-left: 10px;
		}
	}
}
.mobile-site {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #aaa;
	box-shadow: 0 0 15px #ffc;
	.img-section {
		text-align: center;
		img {
			width: 45%;
			height: auto;
			border: 1px solid #ccc;
			& + img {
				margin-left: 5%;
			}
		}
		&.one-pic {
			img {
				width: 95%;
				height: auto;
				border: 1px solid #ccc;
			}
		}
	}
	.content {
		font-size: 14px;
		padding-left: 3px;
		color: #fff;
	}
	.site-bg {
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		// background-color: rgb(255, 255, 255);
		// background-color: #ffc;
		background-color: #000;
		opacity: 0.2;
		border-radius: 10px;
	}
}
.footer {
	text-align: center;
	padding-bottom: 20px;
	font-size: 12px;
	color: #aaa;
	.contact,
	.e-mail {
		padding: 5px 0;
		display: inline-block;
	}
	.contact {
		margin-left: 30px;
	}
}
.prompt {
	position: relative;
	z-index: 9;
	display: none;
	&-box {
		position: fixed;
		left: 7%;
		top: 200px;
		width: 86%;
		background-color: #fff;
		z-index: 9;
		border-radius: 10px;
		.content {
			font-size: 17px;
			// font-weight: 700;
			text-align: center;
			border-bottom: 1px solid #aaa;
		}
		.btn {
			height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 18px;
			font-weight: 700;
			color: #576b95;
		}
	}
	&-mask {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
}
