a {
  text-decoration: none;
  color: #333; }

.html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #eee, #cff, #aff);
  background-repeat: no-repeat; }

.header-title {
  text-align: center;
  letter-spacing: 0.4em;
  font-size: 40px;
  padding: 10px 0;
  text-shadow: #f6f 0px 0px 2px; }

.header-content {
  padding: 20px 36px 30px;
  font-size: 16px;
  text-align: left;
  color: gray; }
  .header-content .github {
    color: rgba(0, 0, 255, 0.6); }

.mobile-site {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888; }
  .mobile-site .img-section {
    text-align: center; }
    .mobile-site .img-section img {
      width: 45%;
      height: auto;
      border: 1px solid #ccc; }
      .mobile-site .img-section img + img {
        margin-left: 5%; }
    .mobile-site .img-section.one-pic img {
      width: 95%;
      height: auto;
      border: 1px solid #ccc; }
  .mobile-site .content {
    font-size: 14px; }

.footer {
  background-color: #aff;
  text-align: center;
  font-size: 12px;
  color: #333; }
  .footer .contact,
  .footer .e-mail {
    padding: 5px 0;
    display: inline-block; }
  .footer .contact {
    margin-left: 20px; }

.prompt {
  position: relative;
  z-index: 9;
  display: none; }
  .prompt-box {
    position: fixed;
    left: 7%;
    top: 200px;
    width: 86%;
    background-color: #fff;
    z-index: 9;
    border-radius: 10px; }
    .prompt-box .content {
      font-size: 17px;
      text-align: center;
      border-bottom: 1px solid #aaa; }
    .prompt-box .btn {
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: #576b95; }
  .prompt-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); }
