a {
  text-decoration: none;
  color: #666; }

.html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #eee, #cff, #aff);
  background-repeat: no-repeat; }

.head-title {
  text-align: center;
  letter-spacing: 0.4em;
  font-size: 40px;
  padding: 10px 0;
  text-shadow: #ff0 0px 0px 2px; }

.mobile-site {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888; }
  .mobile-site .img-section {
    text-align: center; }
    .mobile-site .img-section img {
      width: 45%;
      height: auto; }
      .mobile-site .img-section img + img {
        margin-left: 5%; }
  .mobile-site .content {
    font-size: 14px; }
