<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0,  user-scalable=no"
		/>
		<link rel="stylesheet" href="/homepage/css/index_desktop.css" />
	</head>
	<body>
		<div class="header">
			<div class="portrait">
				<img
					class="portrait-img"
					src="/homepage/images/xubo_web.jpg"
					alt=""
				/>
			</div>
			<div class="personal-info">
				<div class="info-item">
					<span class="first-half">姓 名</span
					><span class="colon">:</span
					><span class="second-half">徐 博</span>
				</div>
				<div class="info-item">
					<span class="first-half">手 机</span
					><span class="colon">:</span
					><span class="second-half">15810675398</span>
				</div>
				<div class="info-item">
					<span class="first-half">邮 箱</span
					><span class="colon">:</span
					><span class="second-half">xubo_bj@163.com</span>
				</div>
			</div>

			<a class="other-info" href="/homepage/images/resume_web.jpg">
				<?xml version="1.0" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"
				><svg
					t="1577257214519"
					class="svg-icon"
					viewBox="0 0 1024 1024"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					p-id="2146"
					xmlns:xlink="http://www.w3.org/1999/xlink"
				>
					<defs><style type="text/css"></style></defs>
					<path
						d="M895.919113 330.440559a66.552546 66.552546 0 0 0-18.023453-39.491257L682.440047 85.462684a66.545379 66.545379 0 0 0-38.696722-19.986241 66.515686 66.515686 0 0 0-9.524182-0.697266H194.861759c-36.755435 0-66.550498 29.796087-66.550498 66.550498v761.34065c0 36.755435 29.796087 66.550498 66.550498 66.550498h634.811974c36.755435 0 66.550498-29.796087 66.550498-66.550498V336.816293c0.001024-2.137873-0.102389-4.264482-0.305118-6.375734zM690.18062 160.98037v-0.054266l117.069 123.07716H721.214584c-17.112195 0-31.033964-13.921769-31.033964-31.033965v-91.988929zM849.786936 892.670325c0 11.090726-9.022477 20.113203-20.113203 20.113203H194.861759c-11.090726 0-20.113203-9.022477-20.113203-20.113203v-761.34065c0-11.090726 9.022477-20.113203 20.113203-20.113203h439.357384c3.342986 0 6.617371 0.856992 9.524182 2.418417v139.335434c0 42.78612 34.685139 77.471259 77.471259 77.47126h127.519798a20.092726 20.092726 0 0 1 1.053578 6.375733v555.853009z"
						fill="#EEE"
						p-id="2147"
					></path>
					<path
						d="M492.75198 305.185403a82.773961 82.773961 0 0 0 4.139568-25.954469c0-44.357784-34.792647-80.324828-77.6402-80.324827-42.959157 0-77.751804 35.967044-77.751804 80.324827 0 9.117699 1.453917 17.78796 4.194858 25.954469a13.757947 13.757947 0 0 0-7.830675 12.529285l-0.056313-0.056314c0 7.719071 5.985634 13.872622 13.257267 13.872623h0.27952c2.797255 36.246564 32.051706 72.549442 67.907147 72.549442 35.799126 0 65.054602-36.302878 67.850833-72.549442h0.22423c7.383237 0 13.312557-6.153551 13.312557-13.816309 0-5.593486-3.243669-10.348409-7.886988-12.529285zM254.127314 532.791015h330.137488c4.026941 0 7.271634-3.132065 7.271634-7.048426v-25.227511a6.934775 6.934775 0 0 0-2.23719-5.034444 248.917785 248.917785 0 0 0-112.097013-61.362471 7.095525 7.095525 0 0 0-3.467899-0.838562h-3.747421a6.983922 6.983922 0 0 0-3.412609 0.783272 106.054042 106.054042 0 0 1-47.321932 10.403699c-17.563729 0-34.792647-3.803734-47.378246-10.403699a7.277777 7.277777 0 0 0-3.356296-0.783272h-2.797255c-0.559041 0-1.119107 0-1.678148 0.167917a248.638265 248.638265 0 0 0-114.949557 62.033116 6.938871 6.938871 0 0 0-2.1819 5.034444v25.171197c0 3.971651 3.244693 7.103716 7.271634 7.103717h-0.05529zM246.91097 648.393812c0-12.82314 10.395508-23.218648 23.218647-23.218648h513.192827c12.82314 0 23.218648 10.395508 23.218647 23.218648s-10.395508 23.218648-23.218647 23.218647H270.129617c-12.82314 0-23.218648-10.395508-23.218647-23.218647zM246.91097 777.39722c0-12.82314 10.395508-23.218648 23.218647-23.218648h513.192827c12.82314 0 23.218648 10.395508 23.218647 23.218648s-10.395508 23.218648-23.218647 23.218647H270.129617c-12.82314 0-23.218648-10.395508-23.218647-23.218647z"
						fill="#EEE"
						p-id="2148"
					></path>
				</svg>
				<span class="other-info-text">简 历</span>
				<span class="bgc"></span>
			</a>
			<a class="other-info" href="https://github.com/xubo-bj/n2018">
				<svg
					aria-labelledby="simpleicons-github-dark-icon"
					lang=""
					role="img"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					class="svg-icon"
				>
					<title id="simpleicons-github-dark-icon" lang="en">
						GitHub Dark icon
					</title>
					<path
						fill="#EEE"
						d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
					></path>
				</svg>
				<span class="other-info-text">GitHub</span>
				<span class="bgc"></span>
			</a>
			<!-- <div class="qr-code"> -->
			<img
				class="qr-code-homepage"
				src="/homepage/images/qr-black.png"
				alt=""
			/>
			<!-- </div> -->
		</div>
		<div class="container">
			<a href="/ctrip" class="mobile-site site">
				<div class="img-section-wrapper">
					<div class="img-section">
						<img src="/homepage/images/11_c.jpg" alt="" />
						<img src="/homepage/images/22_c.jpg" alt="" />
					</div>
					<div class="qr-code">
						<img
							src="/homepage/images/ctrip.png"
							alt=""
							class="qr-code-img"
						/>
					</div>
				</div>
				<div class="content">
					<p>
						采用原生JS开发，使用Sass编写CSS。
					</p>
					<p>
						后端基于Node.js的Web框架Koa2开发。
					</p>
					<p>
						搜索功能是通过Ajax调用携程网的接口实现。
					</p>
				</div>
			</a>
			<a href="/note" class="desktop-site site">
				<img
					src="/homepage/images/note_c.jpg"
					alt=""
					class="desktop-img"
				/>
				<div class="content">
					<p>
						基于React和Redux开发。
					</p>
					<p>
						使用MongoDB存储数据。
					</p>
					<p>
						实现了有道云笔记的基本功能，自动保存编辑过的内容。
					</p>
				</div>
			</a>
			<a href="/baidu" class="mobile-site site">
				<div class="img-section-wrapper">
					<div class="img-section">
						<img src="/homepage/images/33_c.jpg" alt="" />
						<img src="/homepage/images/44_c.jpg" alt="" />
					</div>
					<div class="qr-code">
						<img
							src="/homepage/images/baidu.png"
							alt=""
							class="qr-code-img"
						/>
					</div>
				</div>
				<div class="content">
					<p>
						基于Vue和Vuex构建，使用Typescript开发。
					</p>
					<p>
						搜索功能是通过JSONP调用百度接口实现。
					</p>
					<p>
						新闻内容是通过Ajax调用“聚合数据”引入。
					</p>
				</div>
			</a>
		</div>
		<div class="footer">
			Powered By 腾讯云服务器CVM
		</div>
		<script></script>
	</body>
</html>
