<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>仿携程旅行</title>
    <link rel="stylesheet" href="/ctrip/css/index.css">
</head>

<body>
    <div id="index-page">
        <div id="header">
            <div class="search">
                <span class="icon"></span>
                <span class="text">搜索:目的地/酒店/景点/航班号</span>
            </div>
            <a class="account">
                <span class="icon"></span>
                <span class="text">我 的</span>
            </a>
        </div>
        <div id="carousel">
            <div class="inner">
                <a href="" class="link"><img data-num=0 src="/ctrip/images/c6.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=1 src="/ctrip/images/c1.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=2 src="/ctrip/images/c2.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=3 src="/ctrip/images/c3.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=4 src="/ctrip/images/c4.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=5 src="/ctrip/images/c5.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=6 src="/ctrip/images/c6.jpg" alt="" class="pic"></a>
                <a href="" class="link"><img data-num=7 src="/ctrip/images/c1.jpg" alt="" class="pic"></a>
            </div>
        </div>
        <nav id="nav1">
            <a href="https://dp.ctrip.com/webapp/you/sight/0.html?isStreet=yes&ishideheader=true" class="item">
                <div class="icon icon-1"></div>
                <span class="text">景点·玩乐</span>
            </a>
            <a href="https://dp.ctrip.com/webapp/vacations/tour/around" class="item">
                <div class="icon icon-2"></div>
                <span class="text">周边游</span>
            </a>
            <a href="https://dp.ctrip.com/webapp/you/foods/address.html?new=1&ishideheader=true" class="item">
                <div class="icon icon-3"></div>
                <span class="text">美食林</span>
            </a>
            <a href="https://dp.ctrip.com/webapp/activity/daytour" class="item">
                <div class="icon icon-4"></div>
                <span class="text">一日游</span>
            </a>
            <a href="https://dp.ctrip.com/webapp/you/place/2.html?ishideheader=true" class="item">
                <div class="icon icon-5"></div>
                <span class="text">当地攻略</span>
            </a>
        </nav>
        <nav id="nav2">
            <div class="section hotel">
                <a class="c1 cell">酒店</a>
                <a class="c2 cell">海外酒店</a>
                <a class="c3 cell">团购</a>
                <a class="c4 cell">特价酒店</a>
                <a class="c5 cell">民宿·客栈</a>
            </div>
            <div class="section ticket">
                <a class="c1 cell">机票</a>
                <a class="c2 cell">火车票</a>
                <a class="c3 cell">汽车票·船票</a>
                <a class="c4 cell">特价机票</a>
                <a class="c5 cell">专车·租车</a>
            </div>
            <div class="section tour">
                <a class="c1 cell">旅游</a>
                <a class="c2 cell">门票</a>
                <a class="c3 cell">邮轮旅行</a>
                <a class="c4 cell">目的地攻略</a>
                <a class="c5 cell">定制旅行</a>
            </div>
        </nav>
        <nav id="nav3">
            <a href="https://dp.ctrip.com/webapp/activity/wifi" class="cell"><span class="icon i1"></span><span class="text">WIFI电话卡</span></a>
            <a href="https://dp.ctrip.com/webapp/tourvisa/entry?ctm_ref=C_vac_visa" class="cell"><span class="icon i2"></span><span
                    class="text">保险·签证</span></a>
            <a href="https://dp.ctrip.com/webapp/forex/index?bid=2&1=1" class="cell"><span class="icon i3"></span><span
                    class="text">外币兑换</span></a>
            <a href="https://dp.ctrip.com/webapp/gshop/?ctm_ref=M_ps_2home_sl&bid=2&cid=3&pid=1" class="cell"><span
                    class="icon i4"></span><span class="text">购物</span></a>
            <a href="http://dp.ctrip.com/webapp/vacations/pguider/homepage" class="cell"><span class="icon i5"></span><span
                    class="text">当地向导</span></a>
            <a href="https://dp.ctrip.com/webapp/vacations/idiytour/diyindex?navBarStyle=white" class="cell"><span
                    class="icon i6"></span><span class="text">自由行</span></a>
            <a href="https://dp.ctrip.com/webapp/activity/overseasindex" class="cell"><span class="icon i7"></span><span
                    class="text">境外玩乐</span></a>
            <a href="https://dp.ctrip.com/webapp/lipin/money" class="cell"><span class="icon i8"></span><span class="text">礼品卡</span></a>
            <a href="https://dp.ctrip.com/webapp/cc/index?bid=8&cid=1&pid=4" class="cell"><span class="icon i9"></span><span
                    class="text">信用卡</span></a>
            <a href="https://dp.ctrip.com/webapp/more/" class="cell"><span class="icon i10"></span><span class="text">更多</span></a>
        </nav>
        <div id="sales">
            <div class="header">
                <span class="icon"></span>
                <a class="text">更多</a>
            </div>
            <div class="body">
                <a href="http://m.ctrip.com/webapp/deals/hot?ctm_ref=vdeals_mcindex_hot" class="left">
                    <img class="sales-1" src="/ctrip/images/sales_1.jpg" alt="">
                    <p class="sales-title">三亚5日自由行(5钻)·暖冬避霾【销量明星 春节热卖】高星价优4晚·甄选热门度假型酒店 | 早订即享多重礼·冲5万人出游 | 避寒度假天堂
                        冬季平均气温25度以上！</p>
                    <p class="sales-price"><dfn>￥</dfn>2330<i>起</i></p>
                </a>
                <div class="right">
                    <a href="" class="right-g1">
                        <dl>
                            <dt>千款特价</dt>
                            <dd>走过路过不错过</dd>
                        </dl>
                        <img src="/ctrip/images/sales_2.png" alt="" class="right-g1-pic">
                    </a>
                    <a href="" class="right-g2">
                        <dl>
                            <dt>境外精选</dt>
                            <dd><span class="right-g2-span">百元</span>出境游</dd>
                        </dl>
                        <img src="/ctrip/images/sales_3.png" alt="" class="right-g2-pic">
                    </a>
                    </a>
                    <a href="" class="right-g3">
                        <dl>
                            <dt>周边玩乐</dt>
                            <dd><span class="right-g3-span">十元</span>度周末</dd>
                        </dl>
                        <img src="/ctrip/images/sales_4.png" alt="" class="right-g2-pic">
                    </a>
                </div>
            </div>
        </div>
        <div id="activity">
            <div class="header">
                <span class="icon"></span>
                <a class="text">获取更多福利</a>
            </div>
            <div class="body">
                <a href="https://contents.ctrip.com/buildingblocksweb/special/membershipcard/index.html?sceneid=1&productid=14912&ishidenavbar=yes&pushcode=act_svip_hm31"><img
                        src="ctrip/images/a1.jpg" alt=""></a>
                <a href="https://contents.ctrip.com/activitysetupapp/mkt/index/cjqyhb1705?pushcode=qy_8"><img src="ctrip/images/a2.jpg"
                        alt=""></a>
                <a href="https://contents.ctrip.com/activitysetupapp/mkt/index/nbaafs?pushcode=IP_nbaafs004"><img src="ctrip/images/a3.jpg"
                        alt=""></a>
                <a href="https://smarket.ctrip.com/webapp/promocode/add?source=5"><img src="ctrip/images/a4.jpg" alt=""></a>
                <a href="http://m.ctrip.com/webapp/vipwelfare/rightsInterest/index?rightpage=66&back=1"><img src="ctrip/images/a5.jpg"
                        alt=""></a>
                <a href="http://m.ctrip.com/webapp/mall/"><img src="ctrip/images/a6.jpg" alt=""></a>
            </div>
        </div>
        <footer id="footer">
            <div class="tool">
                <a href="tel:4008286685,00463" class="item">电话预订</a>
                <a href="https://m.ctrip.com/m/c47" class="item">下载客户端</a>
                <a href="http://m.ctrip.com/webapp/myctrip/" class="item">我 的</a>
            </div>
            <div class="info">
                <div class="info-row">
                    <a class="info-a" href="//m.ctrip.com/html5/mkt/sitemap/index.html">网站地图</a>|
                    <span class="pop-country"><i class="info-icon"></i>Language<i class="info-icon-2"></i></span>|
                        <a href="//www.ctrip.com/?mctrip=F" class="info-a-2">电脑版</a>
                </div>
            </div>
        </footer>
    </div>
    <div id="search-page">
        <div class="search-box">
            <span class="back"></span>
            <form action="" class="form">
                <span class="icon"></span>
                <input type="text" class="input">
                <span class="clear"></span>
            </form>
            <span class="visit">搜索</span>
        </div>
        <div class="no-input">
            <div class="download">
                <span class="icon"></span>
                <span class="text">下载携程app 专享优惠低至<i class="emphasis">50%</i></span>
            </div>
            <div class="title">热门搜索</div>
            <ul class="hot-list">
                <li class="hot-item" data-url="https://m.ctrip.com/html5/flight/"><span class="hot-text">机票</span><i class="li-btn" data-title="机票"></i></li>
                <li class="hot-item" data-url="https://m.ctrip.com/webapp/hotel/"><span class="hot-text">酒店</span><i class="li-btn" data-title="酒店"></i></li>
                <li class="hot-item" data-url="https://m.ctrip.com/you/"><span class="hot-text">攻略特区</span><i class="li-btn" data-title="攻略特区"></i></li>
                <li class="hot-item" data-url="//m.ctrip.com/webapp/ticket/index"><span class="hot-text">门票</span><i class="li-btn" data-title="门票"></i></li>
                <li class="hot-item" data-url="//m.ctrip.com/webapp/vacations/tour/"><span class="hot-text">旅游</span><i class="li-btn" data-title="旅游"></i></li>
                <li class="hot-item" data-url="//m.ctrip.com/webapp/train/"><span class="hot-text">火车票</span><i class="li-btn" data-title="火车票"></i></li>
                <li class="hot-item" data-rul="//m.ctrip.com/webapp/tuan/"><span class="hot-text">团购</span><i class="li-btn" data-title="团购"></i></li>
            </ul>
        </div>
        <div class="input-exist">
            <div class="download">
                <span class="icon"></span>
                <span class="text">下载携程app 专享优惠低至<i class="emphasis">50%</i></span>
            </div>
            <ul class="search-result">
            </ul>
        </div>
</div>

    <section id="choose-country">
        <div class="heading">
            <i class="icon-country"></i>
            <span class="heading-text">Language</span>
            <i class="close-btn"></i>
        </div>
        <ul class="country-ul"></ul>
    </section>
<div id="mask"></div>
    <script src="/ctrip/es5/index.js"></script>
    <script src="/ctrip/es5/country.js"></script>
</body>

</html>