<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/ctrip/css/index.css">
</head>
<body>
    <div> correct color </div>
    <div>Ok</div>
    <script src="/ctrip/es6/all.js"></script>
</body>
</html>