<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/ctrip/css/index.css">
</head>
<body>
   <div class="header">
       <div class="search"></div>
       <a class="account"></a>
   </div> 
    <script src="/ctrip/es5/all.js"></script>
</body>
</html>