.top-bar[data-v-fa0b950c] {
  display: flex;
  justify-content: space-between;
  height: 52px;
  margin-bottom: 9px;
}
.btn[data-v-fa0b950c] {
  flex-basis: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn .user-icon[data-v-fa0b950c] {
    width: 20px;
    height: 20px;
    background-image: url(/baidu/images/btn_icon_1.png);
    background-size: contain;
}
.btn .menu-icon[data-v-fa0b950c] {
    width: 16px;
    height: 16px;
    background-image: url(/baidu/images/btn_icon_2.png);
    background-size: contain;
}

.logo[data-v-c36e41b2] {
  height: 87px;
  padding-bottom: 30px;
  text-align: center;
}
.logo .logo-pic[data-v-c36e41b2] {
    max-width: 217px;
    height: 100%;
}

.search-entry[data-v-6f7a9c5e] {
  height: 46px;
  margin: 0 16px;
  border: 1px solid #363636;
  display: flex;
}
.entry[data-v-6f7a9c5e] {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mic[data-v-6f7a9c5e] {
  width: 40px;
  line-height: 53px;
  padding-left: 11px;
}
.mic .mic-icon[data-v-6f7a9c5e] {
    width: 29px;
    height: 19px;
    padding-right: 10px;
    border-right: 1px solid #e8e8e8;
}
.camera[data-v-6f7a9c5e] {
  padding-right: 10px;
  padding-left: 16px;
  background-image: url(/baidu/images/camera.svg);
  line-height: 50px;
}
.camera .camera-icon[data-v-6f7a9c5e] {
    width: 17px;
    height: 17px;
}
.btn-icon[data-v-6f7a9c5e] {
  width: 81px;
  padding: 0 10px;
  border: 0;
  border-left: 1px solid #e8e8e8;
  font-size: 16px;
  font-weight: 700;
  line-height: 46px;
  white-space: nowrap;
  letter-spacing: -1px;
  color: #38f;
  background-color: #fff;
  outline: none;
}

.search-list[data-v-4424df62] {
  border-bottom: 1px solid #f1f1f1;
  line-height: 24px;
  font-size: 18px;
  min-height: 45px;
  height: 46px;
  display: flex;
}
.list-container[data-v-4424df62] {
  display: flex;
  flex-grow: 1;
}
.list-container .magnifier-icon[data-v-4424df62] {
    width: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAMAAAANxBKoAAAAUVBMVEUAAADNzc3Nzc3Nzc3MzMzMzMzMzMzNzc3Q0NDb29vNzc3Nzc3MzMzMzMzMzMzNzc3Nzc3Nzc3Ozs7Pz8/Q0NDMzMzOzs7Ozs7MzMzNzc3MzMyjngBVAAAAGnRSTlMA9Vgt/Nyjjg0H4FDOw7+2rYhiQCYeFXzjewzxqiMAAAEsSURBVEjHlZVZFoMgDEUDVIRirVOd9r/QGk5TrFgw78uDF3gJkMBBatF1IURR60VBWqos1p2KMjHhpddI+nXO2lasJxKtPYHHx+dv0/WDMUPfNZ/ZjzF2fF9RlbO73VzlB+/qCAs/LOEg6RcRv/joB58GIpmnX2ZvxnrPJZyq9N53BtsIjvA25FmgDfgrNCO+edfozPynDUalKR+4k4SEJBIq+KogqSrEhRfJpWmHV+xrRNg0bQVZmbaPBjJqNmiijHQ5uqOs1NtHn6P7DaopyCFHDxQmBmBytMFU8GieE16UvAyyTmfhnTzrVvFuLO81sF4a7xWzKgSv+jAq200yqibilyvyjfBL1V4Sfq2TEH6tSwU83wFjPEhN1F0nQgPuIK+Az8DAGTS4eXZvXiowQ7wpXsEAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
}
.list-container .list-text[data-v-4424df62] {
    background-color: #fff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    padding-left: 14px;
}
.arrow-icon[data-v-4424df62] {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAnBAMAAAB+jUwGAAAAKlBMVEUAAADR0dHMzMzPz8/Nzc3Nzc3Nzc3MzMzMzMzMzMzNzc3Ozs7MzMzMzMwenBEEAAAADXRSTlMABNkZr/ijVTTxlX1u3UxzJQAAAI1JREFUKM+Fy7EJQkEQRdEnNmBmFSZ2YBNmvwRBOxBsxCbMLUIFg+1FBeGwO8GfZJjLmdxaP/tVkqkNc0zSZqL37378tvnLXY0bVNyi4hIVg0ZEIwaNiEZERbSLqIiK6BBRERVRERULFVERFVERFUcqoiIqomJPp2cqPbxS6fqUQp3o3YVeU+n7XOPikg+2ELMK5oFHHwAAAABJRU5ErkJggg==);
  width: 34px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 12px;
}

.search-page[data-v-272a30d3] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
}
.search-box[data-v-272a30d3] {
  height: 64px;
  width: 100%;
  padding-right: 17px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}
.return-homepage[data-v-272a30d3] {
  width: 45px;
  height: 44px;
  position: relative;
}
.return-homepage[data-v-272a30d3]::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -6px;
    content: "";
    width: 12px;
    height: 12px;
    border-left: 2px solid #38f;
    border-top: 2px solid #38f;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-form[data-v-272a30d3] {
  flex-grow: 1;
  border: 1px solid #000;
  height: 46px;
  display: flex;
  padding-left: 12px;
}
.bear-paw-icon[data-v-272a30d3] {
  width: 18px;
  height: 20px;
  background-image: url(/baidu/images/bear_paw.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
}
.input-wrapper[data-v-272a30d3] {
  flex-grow: 1;
  position: relative;
}
.input-wrapper .search-input[data-v-272a30d3] {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 18px;
}
.clear-btn[data-v-272a30d3] {
  width: 42px;
  background-image: url(/baidu/images/clear.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
.confirm-btn[data-v-272a30d3] {
  width: 80px;
  text-align: center;
  align-self: center;
  border-left: 1px solid #cbcbcb;
  color: #38f;
  font-weight: 700;
}
.search-result[data-v-272a30d3] {
  padding: 0 17px;
}

.container[data-v-5c5c3956] {
  position: relative;
}


/*# sourceMappingURL=main.css.map*/